.tailors{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.tailor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.tailor img{
width: 80%;
border-radius: 10px;
padding-right: 30px;
padding-left: 30px;

}


